*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.search-page{
    background-color: #F5F5F5;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-input{
    height: 2.25rem;
    width: 55rem;
}

